body{
    background-color: rgb(172, 156, 156);
}

main{
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px; /* Größerer Innenabstand für den Text vom Rand des main-Tags */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}